<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" >
            <img src="/static/LOGO.jpeg" alt="Logo">
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="http://localhost:5000/">
                Home
            </a>
            <a class="navbar-item" href="http://localhost:5000/cardiology_home">
                Search Exam
            </a>
            <a class="navbar-item" href="#">
                Search
            </a>
        </div>
    </div>
</nav>