<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Codice Fiscale</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>

<!-- Navbar -->
{% include 'navbar.html' %}




<div class=".container ">
    <div class="notification is-info">
    <!--Search Bar-->
    <div class="box" >
    <div class="container is-widescreen">
        <div class="notification is-primary is-light" style="box-shadow: 10px 10px lightblue">
            <form method="GET" action="{{ url_for('getExamByFiscalCodeAndDateAndTestName') }}" class="field has-addons">
                <input required class="input is-primary" type="text" name="fiscalCode" placeholder="Insert Fiscal Code" />
                <p class="control">
                    <span class="select is-primary">
                        <select name="examsType">
                            <option value="ALL">All Type of Exams</option>
                            <option value="UREA AND ELECTROLYTES">Urea Test Exams</option>
                            <option value="BLOOD PRESSURE">Blood Pressure Exams</option>
                        </select>
                    </span>
                </p>
                <p class="control">
                    <input  class="input is-primary" type="date" name="examDate" />
                </p>
                <div class="control">
                    <button type="submit" class="button is-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
        <br>
        {% if data is defined %}
        <div class="container is-widescreen  ">
            <div class="notification is-primary is-light" style="box-shadow: 10px 10px lightblue">
                {% for item in data %}
                <div class="box" >
                    <article class="media">
                        <div class="media-content">
                            <div class="columns">
                                <div class="column is-one-fifth" style="border-right: 1px solid #ddd; padding-right: 10px; text-align: center;">
                                    <div class="content">
                                        <!-- Titolo -->
                                        <h1 class="is-size-5 has-text-centered">{{ item.testName }}</h1>
                                        <!-- Corpo -->
                                        <div>
                                            <!-- Immagine e informazioni -->
                                            <img src="/static/Cartella.jpg" alt="Cartella" style="width: 50%; height: auto; margin: 0 auto;">
                                            <p>
                                                <strong>Date: </strong> {{ item.date[6:8] }}/{{ item.date[4:6] }}/{{ item.date[:4] }}<br>
                                                <strong>Operator: </strong> {{ item.idOperator }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" style="border-right: 1px solid #ddd; padding-right: 10px;">
                                    <div class="content">
                                        <!-- Titolo -->
                                        <h1 class="is-size-5 has-text-centered">Misuration Results</h1>
                                        <!-- Corpo -->
                                        <div>
                                            <!-- Informazioni sulla visita -->
                                            <p>
                                                {% if item.testName == 'BLOOD PRESSURE' %}
                                                <strong>Systolic:</strong> {{ item.systolicBloodPressureValue }} {{ item.systolicBloodPressureUnit }} ({{item.systolicBloodPressureReferenceRange }})<br>
                                                <strong>Diastolic:</strong> {{ item.diastolicBloodPressureValue }} {{ item.diastolicBloodPressureUnit}} ( {{item.diastolicBloodPressureReferenceRange}})
                                                {% else %}
                                                <strong>Potassium:</strong> {{ item.potassiumValue }} {{ item.potassiumUnit }} ({{ item.potassiumReferenceRange}})<br>
                                                <strong>Urea:</strong> {{ item.ureaValue }} {{ item.ureaUnit }} ({{ item.ureaReferenceRange}})<br>
                                                <strong>Sodium:</strong> {{ item.sodiumValue }} {{ item.sodiumUnit }} ({{ item.sodiumReferenceRange}})
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" style="border-right: 1px solid #ddd; padding-right: 10px;">
                                    <div class="content">
                                        <!-- Titolo -->
                                        <h1 class="is-size-5 has-text-centered">Patient Data</h1>
                                        <!-- Corpo -->
                                        <div>
                                            <!-- Informazioni del paziente -->
                                            <p>
                                                <strong>Fiscal Code:</strong> {{item.patientId}}<br>
                                                {% for pat in patient %}
                                                {% if pat.fiscalCode == item.patientId %}
                                                <strong>Name:</strong> {{pat.name}}<br>
                                                <strong>Family Name:</strong> {{pat.familyName}}<br>
                                                <strong>Gender:</strong> {{pat.sex}}<br>
                                                <strong>Birth Date:</strong> {{pat.birthDate}}<br>
                                                <strong>Country:</strong> {{pat.country}} ({{pat.countryCode}})
                                                {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-one-quarter" style="text-align: center;">
                                    <div class="content">
                                        <!-- Titolo -->
                                        <h1 class="is-size-5 has-text-centered">Note</h1>
                                        <!-- Corpo -->
                                        <div>
                                        <p>
                                            {{ item.note }}
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <div class="container content has-text-centered">
                <p> Carmelo Gugliotta, Marco Leto, Riccardo Barichella, Francesca Mafalda Daniele</p>
            </div>
        </p>
    </div>
</footer>

<script>
    document.querySelector('form').addEventListener('submit', function(event) {

        // Impedisci il comportamento predefinito del modulo
        var fiscalCode = document.querySelector('[name="fiscalCode"]').value;
        var examsType = document.querySelector('[name="examsType"]').value;
        var examDate = document.querySelector('[name="examDate"]').value;
        var url = '{{ url_for("getExamByFiscalCode") }}' + '?fiscalCode=' + encodeURIComponent(fiscalCode) + '&examsType=' + encodeURIComponent(examsType);

        // Effettua una richiesta GET al tuo Flask API
        fetch(url)
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                // Visualizza i risultati della ricerca nel div #results


                if (data.length > 0) {
                    // Codice per visualizzare i risultati dei test
                } else {
                    resultsDiv.textContent = 'Nessun risultato trovato.';
                }
            })
            .catch(function(error) {
                console.error('Si è verificato un errore:', error);
            });
    });
</script>
</body>
</html>